## Data from World Happiness Report

The World Happiness Report is an annual publication of the United Nations Sustainable Development Solutions Network. It contains articles, and rankings of national happiness based on respondent ratings of their own lives, which the report also correlates with various life factors.

In this notebook we will explore the happiness of different countries and the features associated.
The datasets that we will use are available in *Data*: **happiness2020.pkl** and **countries_info.csv**.

Although the features are self-explanatory, here a summary: 

**happiness2020.pkl**
* country: *Name of the country*
* happiness_score: *Happiness score*
* social_support: *Social support (mitigation the effects of inequality)*
* healthy_life_expectancy: *Healthy Life Expectancy*
* freedom_of_choices: *Freedom to make life choices*
* generosity: *Generosity (charity, volunteers)*
* perception_of_corruption: *Corruption Perception*
* world_region: *Area of the world of the country*

**countries_info.csv**
* country_name: *Name of the country*
* area: *Area in sq mi*
* population: *Number of people*
* literacy: *Literacy percentage*

In [15]:
!head Data/countries_info.csv

country_name,area,population,literacy
afghanistan,647500,31056997,"36,0"
albania,28748,3581655,"86,5"
algeria,2381740,32930091,"70,0"
argentina,2766890,39921833,"97,1"
armenia,29800,2976372,"98,6"
australia,7686850,20264082,"100,0"
austria,83870,8192880,"98,0"
azerbaijan,86600,7961619,"97,0"
bahrain,665,698585,"89,1"

In [16]:
import pandas as pd
%matplotlib inline

DATA_FOLDER = 'Data/'

HAPPINESS_DATASET = DATA_FOLDER+"happiness2020.csv"
COUNTRIES_DATASET = DATA_FOLDER+"countries_info.csv"

## Task 1: Load the data

Load the 2 datasets in Pandas dataframes (called *happiness* and *countries*), and show the first rows.


**Hint**: Use the correct reader and verify the data has the expected format.

In [35]:
from IPython.display import display

# Load datasets
happiness = pd.read_csv(HAPPINESS_DATASET)
# Note: literacy uses comma as decimal separator
countries = pd.read_csv(COUNTRIES_DATASET, decimal=',')

# Show first rows
display(happiness.head())
display(countries.head())

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa
3,Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean
4,Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States

  country_name     area  population  literacy
0  afghanistan   647500    31056997      36.0
1      albania    28748     3581655      86.5
2      algeria  2381740    32930091      70.0
3    argentina  2766890    39921833      97.1
4      armenia    29800     2976372      98.6

## Task 2: Let's merge the data

Create a dataframe called *country_features* by merging *happiness* and *countries*. A row of this dataframe must describe all the features that we have about a country.

**Hint**: Verify that all the rows are in the final dataframe.

In [40]:
#Make both country columns lowercase so they match
happiness['country'] = happiness['country'].str.lower()
countries['country_name'] = countries['country_name'].str.lower()

# Simple merge keeping all happiness rows
country_features = pd.merge(
    happiness,
    countries,
    left_on='country',
    right_on='country_name',
    how='left'
)

# Drop duplicate key from countries
country_features = country_features.drop(columns=['country_name'])

display(country_features.head())

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,area,population,literacy
0,afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia,647500,31056997,36.0
1,albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe,28748,3581655,86.5
2,algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa,2381740,32930091,70.0
3,argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean,2766890,39921833,97.1
4,armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States,29800,2976372,98.6

## Task 3: Where are people happier?

Print the top 10 countries based on their happiness score (higher is better).

In [41]:
from IPython.display import display

top10 = (
    happiness
    .sort_values('happiness_score', ascending=False)
    .loc[:, ['country', 'happiness_score']]
    .head(10)
)

display(top10)

         country  happiness_score
38       finland           7.8087
31       denmark           7.6456
115  switzerland           7.5599
50       iceland           7.5045
92        norway           7.4880
87   netherlands           7.4489
114       sweden           7.3535
88   new zealand           7.2996
6        austria           7.2942
72    luxembourg           7.2375

We are interested to know in what world region people are happier. 

Create and print a dataframe with the (1) average happiness score and (2) the number of contries for each world region.
Sort the result to show the happiness ranking.

In [44]:
from IPython.display import display

region_stats = (
    happiness
    .groupby('world_region', as_index=True)
    .agg(
        avg_happiness=('happiness_score', 'mean'),
        num_countries=('country', 'nunique')
    )
    .sort_values('avg_happiness', ascending=False)
    .reset_index()
)

# Ensure desired column order with region in the first column
region_stats = region_stats[['world_region', 'avg_happiness', 'num_countries']]

display(region_stats)

                         world_region  avg_happiness  num_countries
0               North America and ANZ       7.173525              4
1                      Western Europe       6.967405             20
2         Latin America and Caribbean       5.971280             20
3          Central and Eastern Europe       5.891393             14
4                      Southeast Asia       5.517788              8
5                           East Asia       5.483633              3
6  Commonwealth of Independent States       5.358342             12
7        Middle East and North Africa       5.269306             16
8                  Sub-Saharan Africa       4.393856             32
9                          South Asia       4.355083              6

The first region has only a few countries! What are them and what is their score?

In [46]:
# Countries and scores for the top region (region_stats is a DataFrame)
best_region = region_stats.iloc[0]['world_region']
subset = (
    happiness.loc[happiness['world_region'] == best_region, ['country', 'happiness_score']]
    .sort_values('happiness_score', ascending=False)
)
print(f"Top region: {best_region}")
subset

Top region: North America and ANZ

           country  happiness_score
88     new zealand           7.2996
21          canada           7.2321
5        australia           7.2228
127  united states           6.9396

## Task 4: How literate is the world?

Print the names of the countries with a level of literacy of 100%. 

For each country, print the name and the world region in the format: *{region name} - {country name} ({happiness score})*

In [47]:
# Countries with 100% literacy and their region with happiness score
fully_literate = (
    country_features.loc[country_features['literacy'] == 100, ['world_region', 'country', 'happiness_score']]
    .sort_values(['world_region', 'country'])
)

for _, row in fully_literate.iterrows():
    print(f"{row['world_region']} - {row['country']} ({row['happiness_score']:.3f})")

North America and ANZ - australia (7.223)
Western Europe - denmark (7.646)
Western Europe - finland (7.809)
Western Europe - luxembourg (7.238)
Western Europe - norway (7.488)

What is the global average?

In [ ]:
# Global average literacy (ignore missing values)
global_avg_literacy = country_features['literacy'].mean()
print(f"Global average literacy: {global_avg_literacy:.2f}%")

Calculate the proportion of countries with a literacy level below 50%. Print the value in percentage, formatted with 2 decimals.

In [ ]:
# Share of countries with literacy below 50%
num_countries_total = country_features['country'].nunique()
num_low_lit = country_features.loc[country_features['literacy'] < 50, 'country'].nunique()
share_low_lit = (num_low_lit / num_countries_total) * 100
print(f"Countries with literacy < 50%: {num_low_lit}/{num_countries_total} ({share_low_lit:.2f}%)")

Print the raw number and the percentage of world population that is illiterate.

In [ ]:
# Illiterate population total and percentage
# 'literacy' is a percentage; compute illiterate share per country
cf = country_features.dropna(subset=['population', 'literacy']).copy()
cf['illiterate_share'] = (100 - cf['literacy']) / 100
cf['illiterate_population'] = cf['population'] * cf['illiterate_share']

total_world_population = cf['population'].sum()
total_illiterate = cf['illiterate_population'].sum()
illiteracy_percent = (total_illiterate / total_world_population) * 100

print(f"Illiterate (count): {int(total_illiterate):,}")
print(f"Illiterate (percent of world population): {illiteracy_percent:.2f}%")

## Task 5: Population density

Add to the dataframe a new field called *population_density* computed by dividing *population* by *area*.

In [26]:
# Write your code here

What is the happiness score of the 3 countries with the lowest population density?

In [27]:
# Write your code here

## Task 6: Healty and happy?

Plot in a scatter plot the happiness score (x) and healty life expectancy (y).

In [28]:
# Write your code here

Feel free to continue the exploration of the dataset! We'll release the solutions next week.

----
Enjoy EPFL and be happy, next year Switzerland must be #1.